@model IEnumerable<EFcoreDemo.Models.ViewModels.BlogViewModel>


<h2>All Blogs</h2>
<h2>Position</h2>
<p>Title: @ViewBag.Title</p>
<p>Name:  @ViewBag.Name</p>

@foreach (var blogViewModel in Model)
{
    <div class="mb-3 border p-2">
        <h3>@blogViewModel.Url</h3>
        <a class="btn btn-primary" asp-action="Create">Create Blog</a>
        <a asp-action="Edit" asp-route-id="@blogViewModel.BlogId" class="btn btn-warning mb-2">Edit</a>
        <a asp-action="Delete" asp-route-id="@blogViewModel.BlogId" class="btn btn-danger">Delete</a>
        <a asp-action="Details" asp-route-id="@blogViewModel.BlogId" class="btn btn-info">Select</a>

        <ul>
            @foreach (var post in blogViewModel.Posts)
            {
                <li>@post.Title</li>
            }
        </ul>
    </div>
}